@font-face {
    font-family: 'Seoul Namsan';
    src: url('../font/SeoulNamsanM.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Seoul Namsan';
    src: url('../font/SeoulNamsanB.ttf') format('truetype');
    font-weight: bold;
}
:root {
    --line-1: #0052A4;
    --line-2: #00A84D;
    --line-3: #EF7C1C;
    --line-4: #00A5DE;
    --line-5: #996CAC;
    --line-6: #CD7C2F;
    --line-7: #747F00;
    --line-8: #E6186C;
    --line-9: #BDB092;
    --line-air: #0090D2;
    --line-gyeongui: #77C4A3;
    --line-uisinsul:#BOCE18;
    --line-gyeongang: #003DA5;
    --line-gyeonchun: #0C8E72;
    --line-sinrim: #6789CA;
    --line-ever: #6FB245;
    --line-incheon1: #7CA8D5;
    --line-seohae: #81A914;
    --line-gimpo: #A17800;
    --line-sinbundang: #D4003B;
    --line-incheon2: #ED8B00;
    --line-suinbundang: #F5A200;
}
.line-1 {
    outline-color: var(--line-1) !important;
}

.line-2 {
    outline-color: var(--line-2) !important;
}

.line-3 {
    outline-color: var(--line-3) !important;
}

.line-4 {
    outline-color: var(--line-4) !important;
}

.line-5 {
    outline-color: var(--line-5) !important;
}

.line-6 {
    outline-color: var(--line-6) !important;
}

.line-7 {
    outline-color: var(--line-7) !important;
}

.line-8 {
    outline-color: var(--line-8) !important;
}

.line-9 {
    outline-color: var(--line-9) !important;
}

.line-air {
    outline-color: var(--line-air) !important;
}

.line-gyeongui {
    outline-color: var(--line-gyeongui) !important;
}

.line-uisinsul {
    outline-color: var(--line-uisinsul) !important;
}

.line-gyeongang {
    outline-color: var(--line-gyeongang) !important;
}

.line-gyeonchun {
    outline-color: var(--line-gyeonchun) !important;
}

.line-sinrim {
    outline-color: var(--line-sinrim) !important;
}

.line-ever {
    outline-color: var(--line-ever) !important;
}

.line-incheon1 {
    outline-color: var(--line-incheon1) !important;
}

.line-seohae {
    outline-color: var(--line-seohae) !important;
}
html {
    display: flex;
    justify-content: center;
    min-width: 320px;
    font-family: "Seoul Namsan", sans-serif;
}
body {
    width:100vh;
    max-width: 400px;
    background-image: url('../img/bg.svg');
    display: flex;
    justify-content: center;
    margin: 40px 0 20px 0;
    flex-direction: column;
    align-items: center;
}
span{
    display: contents;
}
.menu-title{
    width: 100%;
    justify-content: center;
    display: flex;
    position:relative;
    margin-bottom: 56px;
}
.badge{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:25px;
    width: 100%;
    background: white;
    font-size: 26px;
    font-family: 'Seoul Namsan', sans-serif;
    box-shadow: inset 0 0 3px black, 0 0 14px black;
    outline: 8px solid green;
    outline-offset: -8px;
    cursor: pointer;
    box-sizing: border-box;
}
.badge.btn:active{
    background: #DCDCDC;
}
.badge>.badge-sub{
    font-size: 16px;
}
.title-badge{
    width: 60%;
}
.title-strip{
    width:100%;
    position: absolute;
    top: 30%;
    z-index: -1;
}
.title-strip>#top{
    height: 16px;
    background: yellow;
}
.title-strip>#bottom{
    height: 24px;
    background: green;
}
.drop-down-btn{
    height: 36px;
    border-radius: 18px;
    display: flex;
    background: #4891FF;
    color:white;
    padding: 0 20px 0 10px;
    align-items: center;
    width:fit-content;
    margin-bottom: 30px;
    cursor: pointer;
}
.drop-down-btn>img{
    width:20px;
    height:20px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 0 0 3px black;
}
.game-list{
    width: 90%;
}
.game-list > div {
    margin-bottom: 20px;
}
.game-list > :nth-child(1){
    outline-color: var(--line-1);
}
.game-list > :nth-child(2){
    outline-color: var(--line-3);
}
.game-list > :nth-child(3){
    outline-color: var(--line-4);
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 20px;
    padding: 14px 0;
    background: white;
    outline: 4px solid black;
    margin-bottom: 14px;
}
.guide-badge-container{
    margin-bottom: 20px;
    width: 100%;
}
.content-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.red{
    color: red;
}
.badge.input-badge{
    position: relative;
    height: 80px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.badge-btn.home-btn{
    left: 16px;
}
.badge-btn.return-btn{
    right: 16px;
}
.badge-btn{
    position: absolute;
    top: 15px;
    width: 50px;
    height: 50px;
    background: var(--line-1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}
.badge-input{
    font-family: "Seoul Namsan", sans-serif;
    border: none;
    font-size: 24px;
    text-align: center;
    outline: none;
}
.input-container{
    width: 100%;
    margin-bottom: 40px;
}
.score-board{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 0;
    outline: 4px solid #290505;
    flex-direction: column;
    margin-bottom: 40px;
}
.board-header{
    width: 100%;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 0;
    font-size: 16px;
    background:#4B4842;
    color:white;
}
.board-header>.sub-title{
    font-size: 10px;
    display: flex;
    flex-direction: column;
}
.score-board>.board-body{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: white;
}
.board-score-item{
    display: flex;
    flex-direction: row;
    padding: 0 0 0 0;
    border-bottom: 1px solid black;
}
.board-score-item>.board-rank{
    height:auto;
    width: auto;
    padding: 6px 6px 6px 6px;
}
.board-score-item>.records-list{
    height:auto;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 6px;
    row-gap: 6px;
    outline: 1px solid black;
}
.rank-circle{
    background: #ffcc00;
    outline: 1px solid black;
    font-size: 10px;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-weight: bold;
}
.separator{
    width: 2px;
    height: 16px;
    margin: 0 10px 0 10px;
    background: white;
}
.record>.name{
    font-size: 14px;
    font-weight: bold;
}
.record>.score{
    font-size: 10px;
}




