<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>빈칸 채우기 문제</title>
    <a href="/admin">메인으로</a>
</head>
<body>
<h1>빈칸 채우기 문제</h1>
<div>
    <form action="/admin/fillblank/problemList/search" method="GET">
        <input type="text" id="stationName" name="searchName" placeholder="역 이름"/>
        <button type="submit">검색</button>
    </form>
</div>
<h3>
    <span>등록된 문제 수 :</span>
    <span th:text="${totalProblem}"></span>
    <span>총 역 수: </span>
    <span th:text="${totalStation}"></span>
</h3>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>정답</th>
        <th>별칭</th>
        <th>사진</th>
        <th>수정</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="problem : ${problems}">
        <td id="problemID" th:text="${problem.id}"></td>
        <td th:text="${problem.answer.name}"></td>
        <td>
            <ul th:each="name : ${problem.answer.aliasName}">
                <li th:text="${name.name}"></li>
            </ul>
        </td>
        <td>
            <img th:src="${problem.problemImage}" width="320" height="280" alt="No Image"/>
        </td>
        <td>
            <form method="post" action="/admin/fillblank/editProblem" , enctype="multipart/form-data">
                <input type="hidden" name="id" th:value="${problem.id}"/>
                <input type="hidden" name="answer" th:value="${problem.answer.id}"/>
                <input class=".edit-btn" type="file" value="수정" name="problemImage"/>
                <button type="submit">수정</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<!-- Table Pagination Navigation -->
<div>
    <a th:href="@{/admin/fillblank/problemList?page=0}">처음</a>
    <a th:href="@{/admin/fillblank/problemList(page=${currentPage}-1)}">이전</a>
    <span th:text="${currentPage}+1"/>
    <a th:href="@{/admin/fillblank/problemList(page=${currentPage}+1)}">다음</a>
</div>
</body>
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin: 15px 0;
    }

    table, th, td {
        border: 1px solid #ddd;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: #4CAF50;
        color: white;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #ddd;
    }
</style>
</html>