<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지하철 게임</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <div class="menu-title">
        <div class="title-badge">
            <div th:replace="fragments/badge.html :: badge(main='지하철 게임')"></div>
        </div>
        <div class="title-strip">
            <div id="top"></div>
            <div id="bottom"></div>
        </div>
    </div>
    <div class="drop-down-btn">
        <img src="static/img/drop-down.svg" alt="V">
        수도권광역전철
    </div>
    <div class="game-list">
        <div th:replace="fragments/badge.html :: badge(main='노선도 채우기',classappend='btn')">
        </div>
        <div th:replace="fragments/badge.html :: badge(main='최적경로 맞추기',classappend='btn')">
        </div>
        <div th:replace="fragments/badge.html :: badge(main='지하철~ 지하철~',sub='몇호선? 몇호선?',classappend='btn')">
        </div>
    </div>
</body>
</html>