<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Station List</title>
    <a href="/admin">메인으로</a>
    <script>
        // Function to make table row editable
        const lineIds = [
            "LINE_1", "LINE_2", "LINE_3", "LINE_4", "LINE_5", "LINE_6", "LINE_7", "LINE_8", "LINE_9",
            "LINE_AIR", "LINE_GYEONGUI", "LINE_UISINSUL", "LINE_GYEONGANG", "LINE_GYEONCHUN", "LINE_SINRIM",
            "LINE_EVER", "LINE_INCHEON1", "LINE_SEOHEA", "LINE_GIMPO", "LINE_SINBUNDANG", "LINE_INCHEON2",
            "LINE_SUINBUNDANG", "LINE_UIJEONGBU"
        ]
        const inputList = lineIds.map(line =>
            `<input type="checkbox" value="${line}" name="lines" id="${line}">
        <label>${line}</label><br>`)
            .join("");

        function makeEditable(row) {
            // Convert text to editable fields
            const cells = row.querySelectorAll('td');
            cells[1].innerHTML = `<input id="stationName" type="text" value="${cells[1].innerText}">`;
            const checkLines =
                Array.from(cells[2].querySelectorAll("li")).map(li => li.innerText);
            cells[2].innerHTML = inputList;
            checkLines.map(line => {
                const input = cells[2].querySelector(`#${line}`)
                input.checked = true;
            });
            const aliasNames =
                Array.from(cells[3].querySelectorAll("li")).map(li => li.innerText);
            let previousNames = ""
            if (aliasNames.length > 0) {
                previousNames = aliasNames.join(", ");
            }
            cells[3].innerHTML = `<input type="text" id="aliasNames" value="${previousNames}">`;

            // Change "수정" button to "저장"
            const editButton = row.querySelector(".edit-btn");
            editButton.innerText = "저장";
            editButton.setAttribute("onclick", "saveRow(this.closest('tr'))");
        }

        // Function to save the row and post data
        function saveRow(row) {
            const data = {
                id: row.querySelector("#stationId").innerText,
                name: row.querySelector("#stationName").value,
                lines: Array.from(row.querySelectorAll("input:checked")).map(input => input.value),
                aliasNames: row.querySelector("#aliasNames").value.split(", ")
            };
            console.log(data)
            const jsonData = JSON.stringify(data);

            fetch('/admin/station-list/save', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: jsonData,
                redirect: 'follow'
            })
                .then(response => {
                    if (!response.ok) {
                        alert(`HTTP error! status: ${response.status}`)
                        return;
                    }
                    window.location.reload();
                })
                .then(data => console.log(data))
                .catch(error => alert(`Error! ${error}`));

        }
    </script>
</head>
<body>
<h1>Station List</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Lines</th>
        <th>Alias Names</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="station : ${stations}">
        <td id="stationId" th:text="${station.id}"></td>
        <td th:text="${station.name}"></td>
        <td>
            <ul th:each="line : ${station.lines}">
                <li th:text="${line.lineId}"></li>
            </ul>
        </td>
        <td>
            <ul th:each="alias : ${station.aliasName}">
                <li th:text="${alias.name}"></li>
            </ul>
        </td>
        <td>
            <button class="edit-btn" type="submit" onclick="makeEditable(this.closest('tr'))">수정</button>
        </td>
    </tr>
    </tbody>
</table>
<!-- Table Pagination Navigation -->
<div>
    <a th:href="@{/admin/station-list?page=0}">처음</a>
    <a th:href="@{/admin/station-list(page=${currentPage}-1)}">이전</a>
    <span th:text="${currentPage}+1"/>
    <a th:href="@{/admin/station-list(page=${currentPage}+1)}">다음</a>
</div>
</body>
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin: 15px 0;
    }

    table, th, td {
        border: 1px solid #ddd;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: #4CAF50;
        color: white;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #ddd;
    }
</style>
</html>